spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 8085

eureka:
  client:
    fetch-registry: true
    register-with-eureka: false
    service-url:
      defaultZone: "${EUREKA_URL:http://localhost:8761}/eureka/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always


